:root {
  color-scheme: light;
  --card-color: rgb(255 255 255);
  --nav-color: rgba(255 255 255 /90%);
  --bio-color: rgba(200 200 200 /20%);
  --chat-bg: linear-gradient(white, gray);
  --semi: rgb(240 240 240);
  --color: black;
}

* {
  font-family: Clash Grotesk, sans-serif;
  letter-spacing: 0.05rem;
  color-scheme: dark;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250 250 250);
  color: black;
}

button {
  padding: 0;
  margin: 0;
}

strong {
  margin-right: 0.5rem;
}

p {
  user-select: none;
}

input {
  padding: 0.25rem;
  padding-left: 0.75rem;
  border-radius: 0.25rem;
  color: var(--color);
  background-color: var(--nav-color);
  border: 1px solid rgba(120 120 120 /40%);
}

input::placeholder {
  color: #6a6a6a;
}
input:focus {
  outline: none;
  /* border: 1px solid #6a6a6a; */
}

.auth-card {
  width: 85%;
  box-shadow: 1px 1px 20px rgba(0 0 0/ 10%);
}

.inbox {
  padding: 1.5rem;
  padding-bottom: 6rem;
  /* background: var(--chat-bg); */
}

.inbox-chats {
  width: 100%;
  height: 100%;
  background: var(--card-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

.chat-window {
  display: none;
}

.chats::-webkit-scrollbar {
  width: 0.5em;
}

/* .chats::-webkit-scrollbar-track {
  background: rgba(120 120 120 / 5%);
} */

.chats::-webkit-scrollbar-thumb {
  background-color: rgba(120 120 120 / 40%);
  border-radius: 0.5rem;
}

.chat-profile {
  padding: 0.5rem;
  border-radius: 1rem;
  transition: 0.3;
  cursor: pointer;
}

.chat-profile:hover {
  background: rgba(120 120 120 /10%);
}

.chat-profile:focus {
  background: #2a2a2a;
}

.hoverable {
  transition: 0.3s;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.hoverable:hover {
  background: rgba(120 120 120 /10%);
}

.more {
  border-radius: 0.5rem;
  padding: 0.1rem;
  background: rgba(100 100 100 /20%);
  transition: 0.3s;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  border: 1px solid rgba(240 240 240 / 20%);
  background: #0a0a0a;
  color: #9a9a9a;
}

.alert-dialog-btn {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.dropdown {
  border: 1px solid rgba(240 240 240 / 20%);
  background: #0a0a0a;
  color: #9a9a9a;
}

.dropdown-item {
  transition: 0.3s;
}

.dropdown-item:hover {
  background-color: rgba(50 50 50 /30%);
}

.drawer {
  background-color: var(--card-color);
  border: none;
}

.drawer:focus {
  outline: none;
  border: none;
}

.container {
  width: 100%;
  /* border: 1px solid; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: center;
  /* background: var(--chat-bg); */
}

.feed-container {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  background: none;
  /* border: 1px solid red; */
  width: 95%;
  margin-top: 4rem;
  margin-bottom: 2rem;
  gap: 0.5rem;
  /* background: var(--chat-bg); */
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: salmon;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    color-scheme: dark;
    background: #111111;
    color: rgba(245 245 245 /70%);
    --card-color: #151515;
    --nav-color: rgba(30 30 30 /80%);
    --bio-color: rgba(40 40 40 /80%);
    --chat-bg: linear-gradient(black, #1a1a1a);
    --semi: #1a1a1a;
    --color: rgb(220 220 220);
  }
  .comment-input::placeholder {
    opacity: 1;
    color: rgba(150 150 150 /50%);
  }
}

@media (width>=420px) {
  .auth-card {
    width: 340px;
  }
}

@media (width >= 768px) {
  .feed-container {
    width: 600px;
  }
  .inbox {
    padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 2.5rem;
    padding-top: 2rem;
  }
  .inbox-chats {
    width: 32ch;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .chat-window {
    display: flex;
  }
}

@media (width >= 1024px) {
  .feed-container {
    margin-top: 6rem;
  }
}
